In [1]:
import numpy as np
import pandas as pd

In [2]:
from VisualCrossing import API

Location is also available by `(lat, lon)` pairs, for which you can also use [this website](https://www.latlong.net/) to find location easily.

In [3]:
api = API("2021-09-25", APIKey = "<YOUR-API-KEY>", location = "india", contentType = "csv", aggregateHours = 1) # by default contentType = "csv" returns a dataframe

In [4]:
data = api.get()
data.head()

D:\Anaconda3\lib\site-packages\urllib3\connectionpool.py:979: InsecureRequestWarning: Unverified HTTPS request is being made to host 'weather.visualcrossing.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
0,india,09/25/2021 00:00:00,27.0,27.0,27.0,26.0,94.27,31.0,7.6,NaN,...,4.0,88.0,1008.0,NaN,28.631,77.2172,India,India,NaN,Overcast
1,india,09/25/2021 01:00:00,26.0,26.0,26.0,25.0,94.23,NaN,7.6,NaN,...,4.0,88.0,1008.0,NaN,28.631,77.2172,India,India,NaN,Overcast
2,india,09/25/2021 02:00:00,26.0,26.0,26.0,25.0,94.23,NaN,7.6,NaN,...,4.0,88.0,1008.0,NaN,28.631,77.2172,India,India,NaN,Overcast
3,india,09/25/2021 03:00:00,26.0,26.0,26.0,25.0,94.23,NaN,7.6,NaN,...,4.0,88.0,1008.0,NaN,28.631,77.2172,India,India,NaN,Overcast
4,india,09/25/2021 04:00:00,26.0,26.0,26.0,25.0,94.23,NaN,0.0,NaN,...,3.0,50.0,1007.0,NaN,28.631,77.2172,India,India,NaN,Partially cloudy